In [1]:
import pandas as pd

In [2]:
data = pd.read_csv(r"D:\Projects\DS_ML_Projects\COMP903Project\Dataset\News\TILDataset.csv")

In [3]:
data.head()

,text,target,Word Count
0,"python courses python courses, python exercis...",academic interests,125
1,the learning point open digital education. a r...,academic interests,147
2,"equl offers enzyme assay kits, reagent mixtur...",academic interests,353
3,"tech news, latest technology, mobiles, laptops...",academic interests,143
4,the best it certification materials in usa | k...,academic interests,364

In [4]:
data = data.dropna()

In [5]:
len(data)

871909

In [6]:
grouped = data.groupby('target')
result = grouped['Word Count'].agg(['max', 'min', 'median'])

In [7]:
result

                                           max  min  median
target
academic interests                         500  100   292.0
arts and culture                           500  100   349.0
automotives                                500  100   388.0
books and literature                       500  100   167.0
business and finance                       500  100   355.0
careers                                    500  100   240.0
family and relationships                   500  100   306.0
food and drinks                            500  100   362.0
health                                     500  100   279.0
healthy living                             500  100   347.0
hobbies and interests                      500  100   361.0
home and garden                            500  100   352.0
movies                                     500  100   196.0
music and audio                            500  100   238.0
news and politics                          500  100   281.0
personal finance                           500  100   332.0
pets                                       500  100   320.0
pharmaceuticals, conditions, and symptoms  500  100   211.0
real estate                                500  100   351.0
shopping                                   500  100   337.0
sports                                     500  100   295.0
style and fashion                          500  100   274.0
technology and computing                   500  100   335.0
television                                 500  100   242.0
travel                                     500  100   287.0
video gaming                               500  100   354.0

In [8]:
data["target"].value_counts()

target
academic interests                           73134
books and literature                         50544
healthy living                               38681
careers                                      38105
news and politics                            37746
shopping                                     36898
style and fashion                            36430
family and relationships                     36189
business and finance                         35047
automotives                                  35005
pharmaceuticals, conditions, and symptoms    33245
arts and culture                             32953
sports                                       30676
pets                                         30170
hobbies and interests                        29944
real estate                                  29806
food and drinks                              29293
home and garden                              28766
video gaming                                 28688
movies                                       27226
travel                                       27121
personal finance                             26415
technology and computing                     25926
music and audio                              25788
television                                   24400
health                                       23713
Name: count, dtype: int64

In [12]:
categories_to_keep = ['healthy living', 'family and relationships', 'business and finance', 'arts and culture', 'food and drinks',
                      'hobbies and interests', 'real estate', 'style and fashion', 'news and politics', 'sports']

In [13]:
data_filtered = data[data['target'].isin(categories_to_keep)]

In [14]:
data_filtered["target"].value_counts()

target
healthy living              38681
news and politics           37746
style and fashion           36430
family and relationships    36189
business and finance        35047
arts and culture            32953
sports                      30676
hobbies and interests       29944
real estate                 29806
food and drinks             29293
Name: count, dtype: int64

In [15]:
maxRowsToKeep = 28000
for category in categories_to_keep:
    rows_with_value = data_filtered[data_filtered['target'] == str(category)]
    rows_to_remove = rows_with_value.sample(n=(len(rows_with_value)-maxRowsToKeep))
    data_filtered = data_filtered.drop(rows_to_remove.index)

In [16]:
filtered_dfs = []
for category in categories_to_keep:
    category_df = data_filtered[data_filtered['target'] == str(category)]
    sorted_category_df = category_df.sort_values(by='Word Count', ascending=True)
    top_category_df = sorted_category_df.head(28000)
    filtered_dfs.append(top_category_df)

# Combine all the filtered dataframes into a new dataframe
combined_df = pd.concat(filtered_dfs, ignore_index=True)

In [17]:
combined_df["target"].value_counts()

target
healthy living              28000
family and relationships    28000
business and finance        28000
arts and culture            28000
food and drinks             28000
hobbies and interests       28000
real estate                 28000
style and fashion           28000
news and politics           28000
sports                      28000
Name: count, dtype: int64

In [18]:
combined_df = combined_df[['text', 'target']]

In [21]:
combined_df = combined_df.sample(frac=1).reset_index(drop=True)

In [22]:
combined_df.head()

                                                text                 target
0  NEW DELHI: The Indian men's hockey team's meda...                 sports
1  levels. To cut short we should :Eat plenty of ...        food and drinks
2  You have a grocery store in your apartment com...  hobbies and interests
3  Mirror writer and single mom Anjana Vaswani ch...       arts and culture
4  What's more; it works for your entire body and...         healthy living

In [23]:
combined_df.to_csv(r"..\Dataset3\IAB_News_balanced.csv", index=False)